* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.6);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray{
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: rgba(128, 128, 128, 0.5);
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#memory {
  background-color: #fab387;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#wireplumber {
  background-color: #f9e2af;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #cba6f7;
}

#custom-power {
  background-color: #f2cdcd;
}

#cpu {
    padding: 0 10px;
    background-color: #f2cdcd;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;

  }

#disk {
    padding: 0 10px;
    background-color: #fab387;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;

  }

#custom-weather{ 
    padding: 0 10px;
    background-color: #f2cdcd;
    border-radius: 4px;
    margin: 6px 3px;
    padding: 6px 12px;

  }

#window label {
    color: white;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}


tooltip {
    background: rgba(43, 48, 59, 0.8);  /* 半透明深灰背景，避免纯黑 */
    border: 1px solid rgba(100, 114, 125, 0.5);  /* 浅灰边框 */
    border-radius: 6px;  /* 圆角，可选 */
    color: #ffffff;  /* 白色字体 */
    text-shadow: none;  /* 移除阴影，避免干扰 */
    padding: 4px;  /* 内边距，可选，提高舒适度 */
}

tooltip * {
    color: #ffffff;  /* 确保 tooltip 内所有元素（如标签）也是白色 */
    text-shadow: none;
}
